<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<a class="btn btn-success" routerLink="ft">FT 1</a>
<a class="btn btn-success ms-3" routerLink="ft2">FT 2</a>
<a class="btn btn-success ms-3" routerLink="dynamic">Dynamic Component</a>
<a class="btn btn-success ms-3" routerLink="circle">Circle</a>

<!--
<div class="alert alert-danger" transform="lowercase">tada</div>
<div class="" style="display: flex; justify-content: center">
  <div class="" style="width: 50%;">
    <tabs
      colorPalette="purple"
      [tabHeaderList]="tabHeader"
      (tabChanged)="onTabChanged($event)"
      [activeIndex]="currentTabHeaderIndex"
    ></tabs>
    <tabs-body
      [tabsHeaderLength]="tabHeader.length"
      [currentTabHeaderIndex]="currentTabHeaderIndex"
    >
      <div style="background-color: deeppink; padding: 20px">0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span
        <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span>0 purple span span <span>alo</span></div>
      <div style="background-color: deeppink; padding: 20px">1</div>
      <div style="background-color: deeppink; padding: 20px">2</div>
      <div style="background-color: deeppink; padding: 20px">3</div>
    </tabs-body>
  </div>

</div>

<tab-group [(activeIndex)]="currentTabHeaderIndex2">
  <tab-panel title="First Tab">

    <h1>Tab a'lo First</h1>
    <counter></counter>

  </tab-panel>
  <tab-panel title="Second Tab">

    <h1>Tab a'lo Second</h1>
    <counter></counter>

  </tab-panel>
  <tab-panel title="Third Tab">

    <h1>Tab a'lo Third</h1>
    <counter></counter>

  </tab-panel>
  <tab-panel title="Fourth Tab">

    <h1>Tab a'lo Fourth</h1>
    <counter></counter>

  </tab-panel>

</tab-group>


<button class="btn btn-primary" (click)="showT4 = !showT4">Toggle Tab 4</button>
<tab-bs-group [(activeIndex)]="currentTabHeaderIndex">
  <tab-panel title="First Tab">
    <ng-template tabContent>
      <h1>Tab a'lo First</h1>
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Second Tab">
    <ng-template tabContent>
      <h1>Tab a'lo Second</h1>
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Third Tab">
    <ng-template tabContent>
      <h1>Tab a'lo Third</h1>
      <counter></counter>
    </ng-template>
  </tab-panel>
  <tab-panel title="Fourth Tab" *ngIf="showT4">
    <ng-template tabContent>
      <h1>Tab a'lo Fourth</h1>
      <counter></counter>
    </ng-template>
  </tab-panel>


</tab-bs-group>
-->


<input type="file" (change)="change($event)">
<textarea [(ngModel)]="fileContent"></textarea>
<router-outlet></router-outlet>
